<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Sorteio ComproPay
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/menu">
      <span>Menu</span>
      <i class="fa fa-cog pr-1" aria-hidden="true"></i>
    </button>
    <hr>
    <button mat-button class="menu-button" routerLink="/usuarios">
      <span>Usuários</span>
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
    <hr>
    <button mat-button class="menu-button" routerLink="/sair">
      <span>Sair</span>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
