<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
    #InputName
    (keyup.enter)="getFiltroParticipante(InputName.value)"
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    >
  </div>
</div>

<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>CPF</th>
      </tr>
    </thead>
    <tbody *ngIf="sorteios && sorteios.length">
      <tr *ngFor="let sorteio of sorteios">
        <td>{{sorteio.Id}}</td>
        <td>{{sorteio.Nome}}</td>
        <td>{{sorteio.Telefone}}</td>
        <td>{{sorteio.Email}}</td>
        <td>{{sorteio.Cpf}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="sorteios == null">
      <tr>
        <td colspan="5" class="text-center">
          <h4>Nenhum participante encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <button (click)="randomString()" class="d-inline bg-primary btn-lg text-white">Iniciar sorteio
      <i class="fa fa-gift" aria-hidden="true"></i>
  </button>

  <div class="card-body">
    <h1 class="display-2 text-dark">{{codeGenerated}}</h1>
  </div>


